<header>
  <h3>New Comment</h3>
</header>

<%= simple_form_for [ticket, comment] do |f| %>
    <%= f.input :text,  input_html: {class: "form-control"}, wrapper_html: {class: "form-group"} %>

    <% if policy(ticket).change_state? %>
        <%= f.association :state,  input_html: {class: "form-control"}, wrapper_html: {class: "form-group"} %>
    <% end %>

    <% if policy(ticket).tag? %>
        <%= render "tags/form", f: f %>
    <% end %>


    <%= f.submit class: "btn btn-primary btn-flat" %>
<% end %>