<% content_for :content_header do %>
    <section class="content-header">
      <h1>Listing
        <small>State</small>
      </h1>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">State</li>
      </ol>
    </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to new_admin_state_path(@admin_state), :class => 'btn btn-flat bg-olive' do %>
                <span class="glyphicon glyphicon-plus"></span>
                New State
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Default</th>
              <th>Color</th>
            </tr>
            </thead>
            <tbody>
            <%= content_tag_for(:tr, @states) do |admin_state| %>
                <td><%= admin_state.id %></td>
                <td><%= admin_state.name %></td>

                <td>
                  <% if admin_state.default? %>
                      (Default)
                  <% else %>
                      <%= link_to "Make Default", make_default_admin_state_path(admin_state) %>
                  <% end %>
                </td>
                <td>
                  <span class="label" style='padding: 8px;background: <%= admin_state.color %> '>
                  <%= admin_state.color %></span>
                </td>


            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

