<header class="header">
  <a href="#" class="logo">
    <!-- Add the class icon to your logo image or logo icon to add the margining -->
    AdminLTE
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope"></i>
            <span class="label label-success">4</span>
          </a>
        </li>
        <% unless user_signed_in? %>
            <li class="<%= "active" if current_page?("/users/sign_up") %>">
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
            <li class="<%= "active" if current_page?("/users/sign_in") %>">
              <%= link_to "Sign in", new_user_session_path %>
            </li>

        <% else %>
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i>
                <span><%= current_user.email %> <i class="caret"></i></span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header bg-light-blue">
                  <img src="/img/avatar3.jpeg" class="img-circle" alt="User Image"/>
                  <p>Signed in as <%= current_user.email %></p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-primary btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <%= button_to "Sign out", destroy_user_session_path, method: "delete", class: "btn btn-warning btn-flat" %>
                  </div>
                </li>
              </ul>
            </li>

            <li class="<%= "active" if current_page?("/") %>">
              <%= link_to "Home", root_path %>
            </li>
            <% admins_only do %>
                <li>
                  <%= link_to "Admin", admin_root_path %>
                </li>
            <% end %>
        <% end %>


        <!-- User Account: style can be found in dropdown.less -->


        <!--Your Cart -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle c-cart-dropdown" data-toggle="dropdown">
            <i class="fa fa-cart-plus"></i>
            <span>Your Cart<i class="caret"></i></span>
          </a>
          <ul class="dropdown-menu c-pop-cart">

            <!-- Menu Body -->
            <li class="user-body">
              <div class="text-center">
                <% if session[:cart_id] && @cart = Cart.find(session[:cart_id]) %>
                    <%= render @cart %>
                <% end %>
              </div>
            </li>
          </ul>
        </li>

        <!--Multi language-->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle c-cart-dropdown" data-toggle="dropdown">
            <i class="fa fa-globe"></i>
            <span>Language - <%= translate("language") %><i class="caret"></i></span>
          </a>
          <ul class="dropdown-menu c-pop-cart">
            <!-- Menu Body -->
            <li class="user-body" style="padding: 0px">
              <%= form_tag stores_path, method: "get", class: 'locale' do %>
                  <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s),
                                 onchange: 'this.form.submit()', class: "form-control",
                                 style: "border: none;" %>
                  <%= submit_tag 'submit' %>
                  <%= javascript_tag "$('.locale input').hide()" %>
              <% end %>
            </li>

          </ul>
        </li>

      </ul>
    </div>
  </nav>
</header>