<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="/img/avatar3.jpeg" class="img-circle" alt="User Image"/>
    </div>
    <div class="pull-left info">
      <p>Hello, A Luc</p>

      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>
  <!-- search form -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search..."/>
      <span class="input-group-btn">
        <button style="margin-top:0px" type='submit' name='search' id='search-btn' class="btn btn-flat">
          <i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <%= nav_link root_path do %>
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    <% end %>
    <% admins_only do %>
        <%= treeview_link 'User Management' do %>

            <%= nav_link admin_users_path do %>
                <i class="fa fa-angle-double-right"></i>
                Users
            <% end %>
            <%= nav_link "#" do %>
                <i class="fa fa-angle-double-right"></i>
                Roles
            <% end %>
        <% end %>
    <% end %>



    <%= treeview_link 'Project Management -  (Authorize by Pundit/ Apply RSpec Test)' do %>
        <%= nav_link projects_path do %>
            <i class="fa fa-angle-double-right"></i>
            Projects
        <% end %>

        <%= nav_link admin_states_path do %>
            <i class="fa fa-angle-double-right"></i>
            States
        <% end %>
    <% end %>
    <%= treeview_link 'Cart Management -    (Apply Multi Language)' do %>
        <%= nav_link products_path do %>
            <i class="fa fa-angle-double-right"></i>
            Products
        <% end %>
        <%= nav_link stores_path do %>
            <i class="fa fa-angle-double-right"></i>
            Stores
        <% end %>
        <%= nav_link orders_path do %>
            <i class="fa fa-angle-double-right"></i>
            Orders
        <% end %>
    <% end %>

    <!--<%= treeview_link 'Category Management - (Normal User)' do %>-->
        <!--<%= nav_link categories_path do %>-->
            <!--<i class="fa fa-angle-double-right"></i>-->
            <!--Categories-->
        <!--<% end %>-->
        <!--<%= nav_link sub_categories_path do %>-->
            <!--<i class="fa fa-angle-double-right"></i>-->
            <!--Subcategories-->
        <!--<% end %>-->
        <!--<%= nav_link test_adminltes_path do %>-->
            <!--<i class="fa fa-angle-double-right"></i>-->
            <!--TestAdminlte-->
        <!--<% end %>-->
    <!--<% end %>-->
  </ul>

  <span class="c-cart">

  </span>
</section>